@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app" ng-controller="cPasswordRecovery">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.PageTitle - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeyword">
    <meta name="author" content="@ViewBag.SiteAuthor">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/custom.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        .input-group .invalid-feedback {
            display: none;
        }

        .input-group.has-error .invalid-feedback {
            display: block;
        }
    </style>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>@ViewBag.SiteCode </b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg text-sm">You are only one step a way from your new password, recover your password now.</p>

                <form name="loginForm" novalidate role="form" class="form-type-material">
                    <div class="input-group mb-3 has-feedback" show-errors>
                        <input type="password" class="form-control form-control-sm" placeholder="New Password" ng-model="data.NewPassword" id="password" name="password" data-provide="pwstrength" ng-required="true" ng-minlength="6" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div style="color:red" class="invalid-feedback" ng-if="loginForm.password.$error.required">You can't leave this empty.</div>
                        <div style="color:red" class="invalid-feedback" ng-if="loginForm.password.$error.minlength">Use at least 6 characters.</div>
                        <div style="color:red" class="invalid-feedback" ng-if="loginForm.password.$error.pattern">Minimum one uppercase, lowercase and integer required.</div>
                    </div>
                    <div class="input-group mb-3 has-feedback" show-errors>
                        <input type="password" class="form-control form-control-sm" placeholder="Confirm Password" ng-model="data.ConfirmPassword" id="confirmpassword" name="confirmpassword" ng-required="true" ng-pattern="data.NewPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div style="color:red" class="invalid-feedback" ng-if="loginForm.confirmpassword.$error.required">You can't leave this empty.</div>
                        <div style="color:red" class="invalid-feedback" ng-if="loginForm.confirmpassword.$error.pattern">These passwords don't match. Try again?</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="~/" class="text-sm">Back to Login</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" ng-click="ChangePassword(data)" class="btn btn-info btn-sm btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    <script src="~/Scripts/AngularJS/1.8.0/angular.min.js"></script>
    <script src="~/Scripts/AngularJS/1.8.0/angular-sanitize.min.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-3.0.2.min.js"></script>
    <script src="~/Scripts/ProjectScriptFile/sweetalert.min.js"></script>
    <script src="~/Scripts/ProjectScriptFile/AppLogin.js"></script>
    <script src="~/Scripts/ProjectScriptFile/RecoverPassword.js"></script>

</body>
</html>

